<aside>
  {{#is "post"}}
  {{#author}}
  <div class="author">
      <hr>
      <h5 class="title">Об авторе</h5>
      {{#if image}}
      <figure class="author--avatar">
          <a class="img" href="{{url}}">
            <img src="{{image}}" alt="{{name}}"/>
          </a>
      </figure>
      {{/if}}
      <h3 class="author--name"><a href="{{url}}">{{name}}</a></h3>
      <div class="author--metas">
          {{#if location}}<span class="location">{{location}}</span>{{/if}}
          {{#if website}}
            &bullet;
            <a href="{{website}}" class="website">{{website}}</a>
          {{/if}}
      </div>
      {{#if bio}}
          <p class="author--bio">{{bio}}</p>
      {{/if}}
      <hr>
  </div>
  {{/author}}
  <div class="share">
      <h5 class="title">Поделиться постом</h5>   
 <a class="share--icon twitter" href="https://twitter.com/share?text={{encode title}}&amp;url={{url absolute="true"}}"
          onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
          <i class="fa fa-twitter"></i> <span>Share</span>
      </a>

      <a class="share--icon facebook" href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}"
          onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
          <i class="fa fa-facebook"></i> <span>Share</span>
      </a>
      <a class="share--icon google" href="https://plus.google.com/share?url={{url absolute="true"}}"
         onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;">
          <i class="fa fa-google-plus"></i> <span>Share</span>
      </a>
  </div>{{!> active-newsletter}}




  <div class="readmore">
      <h5 class="title">Другие посты</h5>
      {{#next_post}}<div class="readmore--next readmore--article">
          {{#if image}}<a href="{{url}}">
            <img src="{{image}}" alt="{{title}}"/>
          </a>{{/if}}<div class="info">
            <time class="date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMMM YYYY"}}</time>
            <h3 class="title">
              <a href="{{url}}">{{title}}</a>
            </h3>
          </div>
        </div>{{/next_post}}{{#prev_post}}<div class="readmore--next readmore--article">
        {{#if image}}<a href="{{url}}">
          <img src="{{image}}" alt="{{title}}"/>
        </a>{{/if}}<div class="info">
          <time class="date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMMM YYYY"}}</time>
          <h3 class="title">
            <a href="{{url}}">{{title}}</a>
          </h3>
        </div></div>{{/prev_post}}
  </div>

  {{/is}}


  {{^is "post"}}
  <div class="blog">
    <hr>
    <h5 class="title" style="margin-top:0;">Про блог</h5>
    {{#if @blog.logo}}
    <figure class="blog--logo">
        <a class="img" href="http://disciplina.ru">
          <img src="{{@blog.logo}}" alt="{{@blog.title}}"/>
        </a>
    </figure>
    {{/if}}
    <h3 class="blog--name"><a href="{{@blog.url}}">{{@blog.title}}</a></h3>
    {{#if @blog.description}}
        <p class="blog--description">{{@blog.description}}</p>
    {{/if}}
    <hr>
  </div>


  {{!> active-social}}


  {{!> active-newsletter}}



  <div class="twitter-time">
    <h5 class="title">Последние твиты</h5>
    <div style="border:3px solid #993633; border-radius:10px; margin-left:-325px;">
<a class="twitter-timeline" href="https://twitter.com/disciplina_ru" data-widget-id="664797106520129536">Твиты от @disciplina_ru</a>
	</div>

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  </div>
  {{!<div id="instafeed"></div>
  <div class="dribbble"></div>}}
  {{/is}}
</aside>
