<div class="wrapper">
  <article id="posts" class="{{post_class}}">
      <div class="masorny">
          {{#foreach posts}}<section class="post{{#if featured}} post--featured{{/if}}" id="post-{{id}}">
            <div class="post--container">
              <div class="post--header">
                {{#if author.image}}<img class="avatar" src="{{author.image}}" alt="{{author.name}}" nopin="nopin" />{{/if}}
                <div class="tags">
                    {{#if tags}}
                      {{#foreach tags}}
                        {{#if @first}}
                          <a href="{{url}}" title="{{name}}" class="tag-{{id}}">#{{name}}</a>
                        {{/if}}
                      {{/foreach}}
                       <span class="dot-sep"></span>
                    {{/if}}
                </div>
                <time class="date" datetime="{{date format='ll'}}">{{date format='ll'}}</time>
                <h1 class="title"><a href="{{url}}">{{{title}}}</a></h1>
              </div>
              {{#if image}}
          		<figure class="post--cover">
                <a class="anchor article" href="{{url}}">
      		        <img src="{{image}}" alt="{{{title}}}">
                </a>
          		</figure>
              {{else}}
              {{content characters="250"}}
            	{{/if}}
              <div class="post--foot">
                <a href="{{url}}#disqus_thread" class="anchor comments">0 Comments</a>
                <a class="anchor article" href="{{url}}">read more <i class="fa fa-chevron-right"></i></a>
              </div>
            </div>
          </section>{{/foreach}}
      </div>
      {{pagination}}
  </article>{{> aside}}
</div>
