<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />
<meta property="og:image" content="http://blog.disciplina.ru/content/images/preview_blog_720.jpg">
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="shortcut icon" href="{{asset "favicon.ico"}}">

    {{! Styles'n'Scripts }}
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{{asset "css/zoom.min.css"}}" />
    <link rel="stylesheet" type="text/css" href="{{asset "css/isabella.min.css"}}" />

    {{! Ghost outputs important style and meta data with this tag }}
    {{ghost_head}}

<!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
document,'script','//connect.facebook.net/en_US/fbevents.js');

fbq('init', '903956189640706');
fbq('track', "PageView");</script>
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=903956189640706&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->

</head>
<body class="{{body_class}}">

  {{! Everything else gets inserted here }}
  {{> header}}

  <main id="main">

    {{{body}}}

  </main>


  {{> footer}}
  {{! Ghost outputs important scripts and data with this tag }}
  {{ghost_foot}}

  <script type="text/javascript" src="{{asset "js/jquery-1.11.3.min.js"}}"></script>
  {{#is "home, index, tag, author"}}
  <script type="text/javascript" src="{{asset "js/masonry.pkgd.min.js"}}"></script>
  <script type="text/javascript" src="{{asset "js/imagesloaded.min.js"}}"></script>
  {{/is}}

  {{^is "post, page"}}
  <script type="text/javascript" src="{{asset "js/jribbble.min.js"}}"></script>
  <script type="text/javascript" src="{{asset "js/instafeed.min.js"}}"></script>
  {{/is}}

  {{#is "post"}}
  <script type="text/javascript" src="{{asset "js/zoom.min.js"}}"></script>
  <script type="text/javascript" src="{{asset "js/transition.min.js"}}"></script>
  {{/is}}
  <script type="text/javascript" src="{{asset "js/isabella.min.js"}}"></script>


  {{!> disqus_count}}



</body>
</html>
